*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #850E35;
    color:#FFF5E4;
    display: flex;
    justify-content: center;
}
.contenedor{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 40px;
}
.encabezado{
    padding: 20px 0 5px 0;
}
.agregar{
    background-color:#FFC4C4 ;
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
    }
    .agregar input{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 8px;
        background-color: #FFF5E4;
        padding-left: 10px;
    }
    .agregar input::placeholder{
        font-size: 1.1rem;
        color: #850E35;

    }
    .agregar i{
        font-size: 40px;
        color: #850E35;
    }
    .agregar i:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

    .tareas h2{
        margin-bottom: 20px;
    }

    .tareas li{
        background-color: #FFF5E4;
        border-radius: 15px;
        padding: 10px;
        color: #850E35;
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
    }
    .tareas{
        font-size: 25px;
        font-weight: 200;
    }
    .tareas p{
        font-weight: 600;
    }
    .tareas i:hover{
        color: #FFC4C4;
        cursor: pointer;
    }
    .tachado{
        text-decoration: line-through;
        color: #850E35;
    }